body{
    display: flex;
    flex-direction: row;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    padding: 0;
    border: 10px solid maroon;
}

.cell{
    background-color: aquamarine;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#menu{
    width: 500px;
    margin: 40px 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuBtn{
    width:100%;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 10px solid rgb(70, 161, 131);
    background-color: aquamarine;
}