#container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.cell{
    background-color: aquamarine;
    flex-grow:1;
    flex-basis: 6.25%;
    border: 1px solid black;
}